@import './variables.scss';
.landing-container {
    background-color: $secondary;
    display: block;
    // height: calc(100vh - 5rem);
    text-align: center;
    @media (min-width: 400px) {
        display: flex;
        height: calc(100vh - 5rem);
    }
}

.Footprint {
    width: 50%;
}

.login-container {
    justify-content: center;
    width: 50%;
    // text-align: center;
    input {
        display: block;
    }
}