@import './variables.scss';
.landing-container {
    background-color: $secondary;
    height: 100%;
    text-align: center;
    height: max-content;
    @media (min-width: 400px) {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        height: 100%;
    }
}