@import './variables.scss';
.navbar {
    background-color: $positive;
    display: block;
    height: $M;
    img {
        width: $M;
    }
    h1 {
        color: $title;
        text-shadow: $TSstandard;
        margin: 0 auto;
    }
}