@import './variables.scss';
.navbar {
    background-color: $positive;
    display: flex;
    justify-content: space-between;
    height: $M;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
    img {
        width: $M;
    }
    h1 {
        display: inline;
        color: $title;
        text-shadow: $TSstandard;
    }
    button {
        background-color: $calm;
        color: $title;
        border: none;
        text-align: center;
        text-decoration: none;
        padding: $XS;
        width: $L;
        font-family: inherit;
        font-size: 110%;
        text-shadow: inherit;
    }
}