@import './variables.scss';
.navbar {
    background-color: $positive;
    // position: absolute;
    // right: 0;
    // left: 0;
    // z-index: 999;
    height: $M;
    h1 {
        color: $title;
        text-shadow: $TSstandard;
        margin-top: 2rem;
        padding: 1rem;
    }
}