// colors
$positive: rgb(40, 150, 68);
$negative: rgb(196, 37, 37);
$important: rgb(242, 211, 33);
$title: rgb(255, 255, 255);
$subtitle: rgb(88, 135, 251);
$primary: rgb(44, 68, 138);
$secondary: rgb(230, 229, 230);
$muted: rbg(52, 52, 52);
$lacking: rgb(155, 155, 155);
$dull: rgb(29, 20, 32);
// font size
$FXL: 125%;
$FL: 100%;
$FM: 75%;
$FS: 50%;
$FXS: 25%;
$FXXS: 10%;
$FXXXS: 2%;
// component size
$XXXL: 30rem;
$XXL: 20rem;
$XL: 13rem;
$L: 7rem;
$M: 5rem;
$S: 3rem;
$XS: 1rem;
$XXS: 0.5rem;
$XXXS: 0.3rem;